<div class="min-h-screen md:flex md:justify-center md:items-center md:mt-2">
	<div class="w-full h-screen md:h-[80vh] md:max-w-md bg-white md:rounded-lg md:shadow-lg relative overflow-y-auto">

		<div class="flex items-center bg-gray-800 text-white md:rounded-t-lg p-4">
			<button routerLink="/chat" class="bg-transparent text-blue-500 p-2 rounded-md hover:bg-gray-700">
				<svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
					<path fillRule="evenodd"
						d="M7.707 14.707a1 1 0 01-1.414 0l-5-5a1 1 0 010-1.414l5-5a1 1 0 011.414 1.414L4.414 9H17a1 1 0 110 2H4.414l3.293 3.293a1 1 0 010 1.414z"
						clipRule="evenodd" />
				</svg>
			</button>
			<h5 class="ml-3 text-lg font-semibold">Start new chat</h5>
		</div>

		<div class="divide-y divide-gray-200">
			<a *ngFor="let user of users" [routerLink]="['/chat/detail/', user.id]"
				class="flex items-center p-4 hover:bg-gray-100 cursor-pointer">
				<img src="https://placehold.co/50" alt="User" class="w-12 h-12 rounded-full object-cover" />
				<div class="ml-4 flex-grow">
					<h6 class="text-base font-medium text-gray-800">{{ user.name }}</h6>
					<small class="text-sm text-gray-500">{{ user.email }}</small>
				</div>
			</a>
		</div>
	</div>
</div>